.PostListPage {
  text-align: center;
  .main {
    height: 40vmin
  }
  .post:hover{
    scale: 1.01
  }
  .post{
    filter: drop-shadow(0px 19px 38px rgba(0, 0, 0, 0.30)) drop-shadow(0px 15px 12px rgba(0, 0, 0, 0.22));
    border-radius: 8px;
    display: block;
    width: 640px;
    margin-top: 20px;
    padding: 20px;
    background-color: #FAFAFA;
    margin-left: auto;
    margin-right: auto;
    .title{
      font-size: 17px;
      padding: 5px;
      font-weight: bold;
    }
    .body{
      padding: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
    }
    .button{
      padding: 5px;
      width: 150px;
      margin-left: auto;
      margin-right: auto;
      button{
        margin-top: 10px;
        cursor: pointer;
        border-radius: 5px;
        border-style: solid;
        width: 100%;
        padding: 10px;

      }
    }
  }
}

